<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login and register</title>
    <link rel="stylesheet" href="style.css">
    <style>
    </style>
</head>

<body>
<%
    function showError(error){
        return error ? `<p class='error-message'>${error}</p>` : '';
    }

    function isActiveForm(formName, currentForm){
        return formName === currentForm ? 'active': '';
    }
%>

    <div class="container">
        <div class="form-box <%= isActiveForm('login', activeForm); %>"  id="login">
            <form action="/login" method="POST">
                <h2>Login</h2>
                <%- showError(errors.login) %>
                <input type="email" name="email" placeholder="email" required><br>
                <input type="password" name="password" placeholder="password" required><br>
                <button type="submit" name="login">Login</button>
                <p>Dont't have account? <a href="#" onclick="showForm('Register')">Register</a></p>
                
            </form>
        </div>


        <div class="form-box <%= isActiveForm('register', activeForm); %>" id="Register">
            <form action="/register" method="POST">
                <h2>Register</h2>
                <%- showError(errors.register) %>
                <input type="text" name="name" placeholder="Name" required><br>
                <input type="email" name="email" placeholder="email" required><br>
                <input type="password" name="password" placeholder="password" required><br>
                <select name="role" required>
                    <option value="">--role--</option>
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
                <button type="submit" name="register">Register</button>
                <p>Already have an account? <a href="#" onclick="showForm('login')">Login</a></p>
                
            </form>
        </div>
    </div>

    <script src="script.js"></script>
    
</body>
</html>
