<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
    <link rel="stylesheet" href="style.css">

</head>
<body style="background-color: white;">
    <div class="box">
        <h1>Welcome, <span><%= name %></span></h1>
        <p>This is an <span> user </span> page </p>

        <button onclick="window.location.href='/logout'">Logout</button>
    </div>
    
</body>
</html>
